.form_cont {
  /* background: rgb(22, 22, 18); */
  text-align: center;
  padding: 24px 0;
  margin: 0 auto;
  background: rgb(25, 28, 28);
  border-radius: 5px;
  border: solid 1px #222;
  max-width: 400px;
  margin-bottom: 24px;
}

.form_title {
  display: block;
  padding: 0 0 1em 0;
  color: #ddd
}

.input_cont {
}


.label{
  color: #aaa;
  padding: 0.5em;
  display: block;
  text-align: left;
  padding-left: 4em;
  position: relative;

}
.text {
  width: 66.6%;
  display: block;
  margin: 0 auto 3em auto;
  padding: 0.5em 0.5em;
  border: none;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.99);
  background: #ddd;
  border-radius: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .form_cont {
    min-width: 90%;
    width: 90%;
  }
  .label {
    padding-left: 0.5em;
    text-align: center;
  }
}

.error {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -2.2em;
  color: #ca1c1c;
  padding: 0 0.5em;
}

.message {
  height: 100px;
  resize: vertical;
}

.submit {
  background: rgb(101, 167, 109);
  border: none;
  color: black;
  padding: 1em;
  border-radius: 15px;
  margin-top: 0;
  cursor: pointer;
  font-weight: bold
}

.submit:hover {
  background: rgb(111, 177, 119);
}
