.cont {
  width:100%;
  height: calc(100% - 120px);
  position:absolute;
  background-image:
  linear-gradient(var(--main-bg-color),rgba(18, 18, 15,.6) 5%, rgba(18, 18, 15,0)15%, rgba(18, 18, 15,0)80%, rgba(18, 18, 15,0.6)85%, var(--main-bg-color));
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  justify-content: flex-end;
  overflow:hidden;
}


.title {
  position:absolute;
  transition: opacity 1s;
}

.title>a {
  color:white;
  text-decoration:none;
  display:block;
  border-bottom: 1px solid transparent;
  display:inline;
}

.series {
  text-transform: uppercase;
}

.title>small {
  display: block;
  font-size:14px;
}

.title>span {
  color: #aaa;
  font-size:14px
}

.title>a:hover {
  color: #aaa;
  border-bottom: 1px solid #aaa;
}

.titleCont {
  margin:48px;
  height:24px;
}

.buttonGroup {
  margin: 24px 48px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  justify-content:center;
}

.paintingCont {
  width: 100%;
  height: 100%;
  position:absolute;
  transition: opacity 2s;
  z-index: -1;
}
